* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.successfulvcci-container {
  width: 200vh;
  height: 100vh;
  background-color: #D1D7E3;
  .wrapper-sucessful-vcci {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 520px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    // border-top: 2px solid #ff5772;

    .box-img-successfull-vcci {
      height: 4em;
      margin-top: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      .img-successfull-vcci {
        width: 8em;
        img {
          width: 100%;
        }
      }
    }
    .sucessful-vcci-child {
      margin: 20px 30px;
      .successful-vcci1 {
        color: #000;
        font-size: 1em;
        font-weight: 500;
      }
      .successful-vcci2 {
        margin-top: 1em;
        font-size: 1em;
        font-weight: 400;
        color: red;
      }
      .successful-vcci3 {
        margin-top: 1em;

        color: #333232;
        font-size: 1em;
        font-weight: 400;
      }
      .successful-vcci4 {
        text-align: center;
        color: red;
        font-size: 1.3em;
        font-weight: 500;
        margin-top: 1em;
      }
      .successful-vcci5 {
        margin-top: 1em;
        color: #333232;
        font-size: 1em;
        font-weight: 400;
      }
    }
  }
}
